/* Improve square styling */
.square {
  background: white;
  height: 60px;
  width: 60px;
  font-size: 24px; /* Slightly reduced font size for better fit */
  font-weight: bold;
  display: flex; /* Use flexbox for centering content */
  justify-content: center;
  text-align: center;
  border: 5px solid rgb(81, 42, 165);
  color: coral;
  padding: 15px;

}


/* Improve board row styling */
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

/* Improve tic positioning */
.tic {
  margin-top: 20px; /* Reduce the top margin for better positioning */
  border: 10px solid rgb(161, 47, 255);
  box-shadow: 10px 10px 10px  black;
  border-radius: 5%;
}
.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(222, 51, 202);
  color: rgb(40, 41, 35);
  box-shadow: 10px 10px 10px  black;
  border-radius: 30%;
}

/* Improve body background */
body {
   background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the game is centered vertically */
}
.button-container{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  
  
}